.main-button{
    width: 11rem;
    padding: 1rem 2.4rem;
    height: 5rem;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: var(--main-color);
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 0.7rem;
    cursor: pointer;
}

.main-button::selection{
    background-color: transparent;
}

.main-button:hover{
    background-color: var(--main-button-hover);
}